@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Regular.eot');
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('/font/Gilroy-Regular.eot') format('embedded-opentype'),
        url('/font/Gilroy-Regular.woff2') format('woff2'),
        url('/font/Gilroy-Regular.woff') format('woff'),
        url('/font/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Bold.eot');
    src: local('Gilroy Bold'), local('Gilroy-Bold'),
        url('/font/Gilroy-Bold.eot') format('embedded-opentype'),
        url('/font/Gilroy-Bold.woff2') format('woff2'),
        url('/font/Gilroy-Bold.woff') format('woff'),
        url('/font/Gilroy-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}