body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(89.46deg, #01BAB3 0.51%, rgba(1, 186, 179, 0.6) 99.58%);
    opacity: 1;
}

h2 {
    font-size: 29px;
    font-weight: 700;
    margin-bottom: 16px;
}

span {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 56px;
}

a {
    font-weight: 600;
    font-size: 16px;
    color: #01BAB3;
    margin-left: 8px;
}

label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

form {
    margin-top: 56px;
}

.form {
    background: #FFFFFF;
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.04), 0px 4px 56px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    width: 496px;
    padding: 40px;
    box-sizing: border-box;
}

.flex {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.flex-radio {
    display: flex;
    justify-content: left;
    margin-top: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    height: 1009px;
    width: 1366px;
    left: 0px;
    top: 0px;
    border-radius: 0px;
}

.promosection {
    display: flex;
    flex-direction: column;
    margin-left: 191px;
}

.promoblock {
    height: 400px;
    width: 400px;
    left: 767px;
    top: 261px;
    border-radius: 0px;
    margin-bottom: 64px;
}

.promotext {
    width: 425px;
    height: 88px;
    left: 760px;
    top: 685px;
}

.cashback {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 8px;
}

.promoinfo {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
    color: rgba(0, 0, 0, 0.85);
}

.flex-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.radio-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
    margin-right: 65px;
}

input[type="text"],
input[type="date"]{
    background-color: #FBFBFB;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 14px 16px;
    color: #444150;
}

button {
    display: flex;
    background: #01BAB3;
    border-radius: 6px;
    padding: 12px 153px;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
}

sup {
    color: #01BAB3
}


.wrapper{
    display: flex;
    align-items: center;
}

.arrow{
    margin-left: 16px;
}