/*all*/
body {
     font-family: "Gilroy", sans-serif;
     color: black;
}

p {
    color: #898989;
    padding: 8px 0;
}

.container {
    max-width: 1237px;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
}

/*all*/

/*header*/

.header {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 255px;
}

.menu h3, p {
    margin: 0;
}

.imgmenu {
    height: 40px;
    width: 37px;
    margin-right: 25px;
}

/*header*/

.cart-title {
    margin-top: 104px;
    margin-bottom: 32px;
    text-align: center;
}

/*main*/
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cart img {
    height: 301px;
    width: 285px;
}

.cart {
    background-color: #F4F5F7;
    margin-bottom: 32px;
}

.cart-text {
    padding-left: 16px;
    padding-top: 16px;
    padding-right: 16px;
    padding-bottom: 30px;
}

.cart-text h3 {
    margin: 0px;
}

.cart-text div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.cart span{
    font-weight: 600;
    font-size: 20px;
}

.cart-text div p{
    text-decoration: line-through;
}
/*main*/
