html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6c7e99;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background-image: -o-linear-gradient(354deg, rgba(195, 129, 219, 0.121569), rgba(78, 146, 249, 0.180392));
    background-image: linear-gradient(96deg, rgba(195, 129, 219, 0.121569), rgba(78, 146, 249, 0.180392));
}
section#home {
    padding-top: 144px;
    padding-bottom: 7.5rem;
}
section#home h1 {
    font-weight: 700;
    font-size: 51px;
    line-height: 70px;
}
.navbar  {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 14.06%, rgba(255, 255, 255, 0.8) 85.42%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(111px);
}
.btn-klean {
    color: #FFF;
    font-weight: bold;
    background-image: -o-linear-gradient(40deg, #c381db, #4e92f9);
    background-image: linear-gradient(50deg, #c381db, #4e92f9);
}
.bg-size {
    background-size: contain;
}
.bg-holder {
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    will-change: transform, opacity, filter;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-repeat: no-repeat;
    z-index: -1;
}
.text-gradient {
    background: -o-linear-gradient(40deg, #c381db, #4e92f9);
    background: linear-gradient(50deg, #c381db, #4e92f9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-size {
    background-size: contain;
}