@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');
html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    background: #0B0D17;
    color: #18191F;
}
.container {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}
section.services {
    padding: 80px 0;
}
section.services .section-title {
    margin-bottom: 48px;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #ffffff;
}
section.services .services-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
section.services .services-wrapper .service-item {
    width: 100%;
    max-width: 350px;
    min-height: 346px;
    padding: 40px 32px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 30px;
}
section.services .services-wrapper .service-item .icon {
    margin-bottom: 56px;
    width: 32px;
    height: 32px;
}
section.services .services-wrapper .service-item .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 12px;
}
section.services .services-wrapper .service-item .text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 40px;
}
section.services .services-wrapper .service-item a.more {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    color: #8C30F5;
}

section.services .services-wrapper .service-item a.more::after {
    content: '';
    display: block;
    position: absolute;
    width: 16px;
    height: 10px;
    right: -22px;
    top: 3px;
    background: url("img/right-arrow.svg") no-repeat center center;
}

section.services a.button {
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 180px;
    text-decoration: none;
    height: 62px;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff;
    padding: 16px 20px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
}
section.services a.button::after {
    content: '';
    display: block;
    position: absolute;
    width: 22px;
    height: 14px;
    right: 20px;
    top: 24px;
    background: url("img/right-arrow-btn.svg") no-repeat center center;
}

@media (max-width: 1100px) {
    .container {
        padding: 0px 20px;
    }
    section.services .services-wrapper .service-item {
       max-width: 48%;
    }
}

@media (max-width: 678px) {
    .container {
        padding: 0px 20px;
    }
    section.services .section-title {
        font-size: 32px;
        line-height: 44px;
    }
    section.services .services-wrapper .service-item {
        max-width: 100%;
    }
}