
.gallery-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 1236px;
    min-height: 1084px;
    margin: 0 auto;
}

.gallery_heading {
    align-self: center;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
    color: #3A3A3A;
    margin: 32px;
}

.frame-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1236px;
    min-height: 200px;
    margin-bottom: 32px;
}

.product-item {
    width: 150px;
    height: 200px;
}

.product-image {
    height: 150px;
    width: 120px;
    position: relative;
}

.upload-more {
    min-width: 245px;
    min-height: 48px;
    background: #FFFFFF;
    border: 1px solid #E89F71;
    box-sizing: border-box;
    align-self: center;
}

/*
.upload-more p {
    padding: 12px 82px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #E89F71;
    background: #FFFFFF;
    border: none;
    outline: none;
}
*/

/* наиболее часто используемый экраны: 1920px, 1440px,
1024px, 768px, 425px, 375px, 320px */

@media (max-width: 615px) {

    .products-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: nowrap;
    }

    .frame-flex {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .product-item {
        margin-bottom: 20px;
        align-self: center;
    }
}


@media (min-width: 615px) and (max-width: 1162px) {

    .products-flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
        max-width: 757px;
    }

    .frame-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .product-item {
        margin-bottom: 20px;
        align-self: center;
    }
}